<!DOCTYPE html>
<html>
<head>
  <title>DiUS Table Tennis Championship</title>
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='apple-mobile-web-app-status-bar-style' content='black' />
  <meta name='viewport', content='width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = yes' />
  
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

 <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
  <div id='container'>
    <header>
    <a class="brand" href="/">
        <div class='brand-name'>DiUS Table Tennis Championship</div>
        <div class='brand-label'>Home</div>
    </a>
      <nav>
        <ul><li class="home">Home</li></ul>
      </nav>
    </header>

    <div>
       <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
       <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>
    <div id='main'>
        <%= render @view_module, @view_template, assigns %>
    </div>
  </div>
</body>
</html>

